

caption {
    padding: 10px;
    caption-side: bottom;
      color: var(--back);
      font-size: .85rem;
  }

table {
    width: 250px;
	margin: 20px auto;
    padding: 25px;
	border: thin solid var(--border);
	box-shadow: 0 0 7px var(--shadow);
	border-collapse: collapse;
}
table,
td {
    border: 1px solid #333;
    text-align: center;
  
}
#acme {
    width: 50px;
    padding: 25px;
}
#black {
    background-color: black;
}
thead {
    font-size: 25px;
    color: white;
    background-color: black;

}
.head {
    background-color: #333;
    padding: 5px;
    border: 2px solid #333;
    margin: 25px;
}

.check {
    font-size: 25px;
    font-weight: bolder;
    color: purple;
    padding: 5px;
}

.x {
    font-size: 25px;
    font-weight: bolder;
    color: red;
    padding: 5px;
}

tr:nth-child(Even) {
    background-color: grey;
}
.feature {
    color: white;
    background-color: black;
    font-size: 25px;
    font-weight: bold;
    margin: 0%;
    padding: 25px;
}
