@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Nunito+Sans:wght@300&family=Sanchez:ital@1&display=swap');


#logo{
    max-width: 200px;
}

nav a{
    
    text-decoration: none;
    text-align: center;
    color: #E2DEDB;
    padding: 35px;
    font-size: 30px;
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #848A9A;
    display: grid;
    grid-template-columns: 150px auto;
	flex-flow: column;
	padding: 10px;
    align-items: center;
}
#content {
    max-width: 1600px;
    margin:0% auto;
    font-size: 1.0em;
    text-align: center;
    background-color: #E2DEDB;
}

img {
    max-width: 250px;
}
footer {
    color: #E2DEDB;
    background-color: #27385B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    flex-direction: column;
    margin-top: 15px;
    padding: 25px;
    flex-flow: column;
    }

    nav{
        text-align: center;
    }

body p, li{
    font-size: 1.5em;
    font-family: "Nunito Sans";
    font-weight: 400;
}

body h1 {
    font-family: "Sanchez";
}
body h2{
    font-family: "Manrope";
}
#box1, #box2, #box3, #box4 {
    padding: 20px;
}
#box1 {
    background-color: #27385B;
    color: white;
}
#box2{
    background-color: #848A9A;
    color: white;
}
#box3{
    background-color: #E2DEDB;
    color: black;
}
#box4 {
    background-color: #14274E;
    color: white;
}