
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Nunito+Sans:wght@300&family=Sanchez:ital@1&display=swap');

body {
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #848A9A;
}
.content{
    margin: 0;
}
nav {
    text-align: right;
    align-content: right;
}
.spotlight2 img{
    width: 150px;

}

.Weather img {
    width: 150px;
}

.date {
    font-family: "Sanchez";
    float: right;
    margin: 5px;
    padding: 20px;
    text-align: center;
    background-color: #14274E;
    color: white;
    border: 2px black;
    width: 100%;


}
#facebook {
    display: flex;
    float: right;
    width: 50px;
}

#facebook img {
    width: 100%;
}

header {
    font-family: "Sanchez";
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background: #bbb;
    text-align: center;
}

header img {
    width: 150px;
    margin: 5px;
}



footer img {
    width: 150px;
}


header h1 {
    color: black;
}

header p {
    color: black;
}

header h1,
p {
    width: 100%;
    font-size: 1.2em;
    margin: 10px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.headings {

    margin: -10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav button {
    font-size: 2rem;
    color: black;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: black;
    border-top: 1px solid black;
}

nav ul li.active a {
    background-color: antiquewhite;
    color: black;
}


nav ul li a:hover {
    background-color: white;
}

.Event {
    font-family: "Sanchez";
    background: #14274E;
    padding: 100px;
    color: white;
    margin: 10px;
}

.Weather {
    font-family: "Sanchez";
    background: #14274E;
    padding: 100px;
    color: white;
    margin: 10px;
}

.Join {
    font-family: "Sanchez";
    background: #14274E;
    padding: 100px;
    color: white;
    margin: 10px;
}

.Hero {
    font-family: "Sanchez";
    background: #14274E;
    padding: 100px;
    color: white;
    margin: 10px;
}


.New-Release {
    font-family: "Sanchez";
    background: #14274E;
    padding: 100px;
    color: white;
    margin: 10px;
}

.spotlight1 {
    font-family: "Sanchez";
    background: #14274E;
    padding: 100px;
    color: white;
    margin-bottom: 0px;
    border-bottom: 2px solid black;
}

.spotlight2 {
    background: #14274E;
    padding: 100px;
    color: white;
    margin-top: 0px;
}

.spotlight3 {
    display: none;
    font-family: "Sanchez";
    background: #14274E;
    padding: 100px;
    color: white;
    margin: 10px;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}



#hamburgerbtn span:nth-child(1) {
    display: block;
}

#hamburgerbtn span:nth-child(2) {
    display: none;
}

#hamburgerbtn.open span:nth-child(1) {
    display: none;
}

#hamburgerbtn.open span:nth-child(2) {
    display: block;
}

footer {
    background: #848A9A;
    color: white;
    font-size: 1.0em;
}
#lastModified {
    font-family: "Sanchez";
	text-align: center;
	font-size: medium;
    margin: 0;
	border: 1px solid #bbb;
	padding: 0.5rem;
}

#textButton {
    position: relative;
    background-color: black;
    color: white;
    padding: 15px 32px;
    display: inline-block;
}

.bottom {
    grid-column: 1/4;
}

.Hero img {
    width: 100%;
}

/*----form----*/

form {
    text-align: left;
    
}
form p {
    color: white;
}

form fieldset {
    margin: 2rem 0;
    border: 2px solid white;
    border-radius: 10px;
    padding: .5rem 2%;
    background-color: #14274E;
}
form legend {
    font-size: large;
    color: white;
    margin: 0 1rem;
    padding: 0.5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color:  white;
    font-size: .8rem;
}

form label.top input {
    display: block;
    font-size: 1rem;
    border: solid 2px black;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: #bbb;
}
form label.ml {
    display: block;
    padding: .75rem 0;
    color: white;
}

form input.submitBtn {
    border: 3px solid black;
    background-color: #cccaca;
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;

}

form label.top input:required {
    border-left: rgb(133, 31, 31) solid 6px;
}

form label.top input:required:valid {
    border-left: rgb(17, 66, 17) solid 6px;
}

#calendar {
    display: none;
}

#business {
    margin: 10px;
}
