
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Nunito+Sans:wght@300&family=Sanchez:ital@1&display=swap');


body {
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    margin: 0;

}
.content{
    margin: 0;
}
nav {
    text-align: right;
    align-content: right;
}

.date {
    font-family: "Sanchez";
    float: right;
    margin: 5px;
    padding: 20px;
    text-align: center;
    background-color: #14274E;
    color: white;
    border: 2px black;
    width: 100%;


}
#facebook {
    display: flex;
    float: right;
    width: 50px;
}
header {
    font-family: "Sanchez";
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background: #848A9A;
    text-align: center;
}

header img {
    width: 150px;
    margin: 5px;
}



footer img {
    width: 150px;
}

header h1,
p {
    width: 100%;
    font-size: 1.2em;
    margin: 10px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.headings {

    margin: -10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav button {
    font-size: 2rem;
    color: black;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: black;
    border-top: 1px solid black;
}

nav ul li.active a {
    background-color: antiquewhite;
    color: black;
}


nav ul li a:hover {
    background-color: white;
}

.Event {
    font-family: "Sanchez";
    background: #14274E;
    padding: 100px;
    color: white;
    margin: 10px;
}

.Weather {
    font-family: "Sanchez";
    background: #14274E;
    padding: 100px;
    color: white;
    margin: 10px;
}

.Join {
    font-family: "Sanchez";
    background: #14274E;
    padding: 100px;
    color: white;
    margin: 10px;
}

.Hero {
    font-family: "Sanchez";
    background: #14274E;
    padding: 100px;
    color: white;
    margin: 10px;
}


.New-Release {
    font-family: "Sanchez";
    background: #14274E;
    padding: 100px;
    color: white;
    margin: 10px;
}

.spotlight1 {
    font-family: "Sanchez";
    background: #14274E;
    padding: 100px;
    color: white;
    margin: 10px;
}

.spotlight2 {
    background: #14274E;
    padding: 100px;
    color: white;
    margin: 10px;
}

.spotlight3 {
    font-family: "Sanchez";
    background: #14274E;
    padding: 100px;
    color: white;
    margin: 10px;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}



#hamburgerbtn span:nth-child(1) {
    display: block;
}

#hamburgerbtn span:nth-child(2) {
    display: none;
}

#hamburgerbtn.open span:nth-child(1) {
    display: none;
}

#hamburgerbtn.open span:nth-child(2) {
    display: block;
}

footer {
    background: #848A9A;
    color: white;
    font-size: 1.0em;
}
#lastModified {
	text-align: center;
	font-size: smaller;
}
#textButton {
    position: relative;
    background-color: black;
    color: white;
    padding: 15px 32px;
    display: inline-block;
}