@media only screen and (min-width: 64rem) {

    @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Nunito+Sans:wght@300&family=Sanchez:ital@1&display=swap');
    header {
        font-family: "Sanchez";
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    nav ul li a {
        padding: .5rem 1rem;
    }

    nav ul#primarynav {
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid black;
    }

    .left-column {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        border: 2px solid black;
        background-color: #848A9A;
    }

    .mid-column {
        display: grid;
        grid-template-rows: 2fr 1fr;
        background-color: #848A9A;
        border: 2px solid black;
    }

    .right-column {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        border: 2px solid black;
        background-color: #848A9A;
    }

    .spotlight3 {
        font-family: "Sanchez";
        display: grid;
        margin-top: -10px;
        border: 2px solid black;

    }
    .spotlight2 {
        font-family: "Sanchez";
        border: 2px solid black;
    }

    .spotlight1 {
        font-family: "Sanchez";
        margin-bottom: -10px;
        border: 2px solid black;
    }

    .Hero {
        font-family: "Sanchez";
        border: 2px solid black;
        padding: 0%;
        text-align: center;
        align-content: center;
    }

    .New-Release {
        font-family: "Sanchez";
        border: 2px solid black;
        
    }

    .Event {
        font-family: "Sanchez";
        border: 2px solid black;
    }

    .Join {
        font-family: "Sanchez";
        border: 2px solid black;
    }

    .Weather {
        font-family: "Sanchez";
        border: 2px solid black;
    }

    .main-footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    nav {
        font-family: "Sanchez";
        display: flex;
    }
    #lastModified {
        font-family: "Sanchez";
        text-align: center;
        font-size: smaller;
    }
    #facebook {
        display: flex;
        float: right;
        width: 50px;
    }
    * {
        box-sizing: border-box;
    }
    .Hero img {
        max-width: 100%;
        max-height: 100%;
    }
    .Hero h1 {
        position: absolute;
    }
    main p {
        font-family: "Manrope";
    }

    #textButton {
        position: relative;
        background-color: black;
        color: white;
        padding: 15px 32px;
        display: inline-block;
        font-size: large;
        margin: -20px;
        width: 50%;
    }
    #textButton:hover {opacity: 10}
}