
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Nunito+Sans:wght@300&family=Sanchez:ital@1&display=swap');
@media only screen and (min-width: 32rem) {
   


    nav button {
        display: none;
    }

    nav ul#primarynav {
        display: grid;
        
    }

    nav ul li a {
        width: 250px;
        border: none;
      
    }

    #primarynav {
        font-family: "Sanchez";
        font-size: 1.5rem;
        padding: 25px;
        text-align: center;
        align-self: center;
    }



    #facebook img{
        width: 100%;
        height: 60px;
    }

    .date {
        grid-column: 1/4;
        font-family: "Sanchez";
    }

    header {
        font-family: "Sanchez";
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }



    nav ul#primarynav {
        display: flex;
    }

    .left-column {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        border: 2px solid black;
        background-color: #848A9A;
    }

    .mid-column {
        display: grid;
        grid-template-rows: 2fr 1fr;
        background-color: #848A9A;
        border: 2px solid black;
    }

    .right-column {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        border: 2px solid black;
        background-color: #848A9A;
    }



    .spotlight1 {
        margin-bottom: -10px;
        border: 2px solid black;
    }

    .Hero {
        border: 2px solid black;
    }

    .New-Release {
        border: 2px solid black;
    }

    .Event {
        border: 2px solid black;
    }

    .Join {
        border: 2px solid black;
    }

    .Weather {
        border: 2px solid black;
    }

    footer {
        display: inline-block;
    }

    nav {
        display: flex;
    }

    #lastModified {
        text-align: center;
        font-size: smaller;
    }

 

}