@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Nunito+Sans:wght@300&family=Sanchez:ital@1&display=swap');

@media only screen and (min-width: 32rem) {



    nav button {
        display: none;
    }

    nav ul#primarynav {
        display: grid;

    }

    main {
        display: grid;
        grid-template-columns: 1fr;
    }

    nav ul li a {
        display: block;
        padding: .8rem 2vw;
        text-decoration: none;
        color: black;
        border-top: 1px solid black;

    }

    #primarynav {
        font-family: "Sanchez";
        font-size: 1.5rem;
        padding: 25px;
        text-align: center;
        align-self: center;
    }

    nav ul li.active a {
        background-color: antiquewhite;
        color: black;
    }


    #facebook img {
        width: 100%;
        height: 60px;
    }

    .date {
        grid-column: 1/4;
        font-family: "Sanchez";
    }

    header {
        font-family: "Sanchez";
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        background: #bbb;
        text-align: center;

    }

    .left-column {
        display: grid;
        border: 2px solid black;
        background-color: #bbb;
    }

    .mid-column {
        background-color: #bbb;
        border: 2px solid black;
    }

    .right-column {
        display: flex;
        border: 2px solid black;
        background-color: #bbb;
    }

    .banner {
        display: none;
        margin: auto;
    }

    .spotlight1 {
        font-family: "Sanchez";
        margin: 5px;
        border: 1px solid black;
        padding: 5px;
    }
    .spotlight2 {
        font-family: "Sanchez";
        border: 1px solid black;
        text-align: center;
        padding: 5px;
        margin: 5px;
    }
    .spotlight2 img{
        width: 150px;
    
    }

    .spotlight3 {
        display: none;
    }

    .Hero {
        border: 2px solid black;
    }

    .New-Release {
        border: 2px solid black;
    }

    .Event {
        border: 2px solid black;
    }

    .Join {
        border: 2px solid black;
    }

    .Weather {
        border: 2px solid black;
    }

    footer {
        display: inline-block;
    }

    nav {
        text-align: right;
        align-content: right;
    }


#lastModified {
    text-align: center;
    font-size: smaller;
}

#hamburgerbtn span:nth-child(1) {
    display: block;
}

#hamburgerbtn span:nth-child(2) {
    display: none;
}

#hamburgerbtn.open span:nth-child(1) {
    display: none;
}

#hamburgerbtn.open span:nth-child(2) {
    display: block;
}


}